.add-tag-btn {
    color: rgb(92, 92, 255);

    &:hover {
        color: blue;
    }
}
.input {
    width: 10ch;
}
.error {
    background-color: red;
}
.tab {
    margin-left: 4ch;
    border-left: solid black 1px;
}